::-webkit-scrollbar {
    display: none;
  }
  
  body {
    margin: 0%;
    overflow: hidden; 
    background: white;
  }
  
  a {
    font-family: arial;
    border-radius: 3px;
    padding: 9px;
    background: red;
    text-decoration: none;
    color: white;
    position: fixed;
    right: 50%;
    transform: translate(50%, 0);
  }
  canvas {
    display: block;
    background: hsl(236, 88%, 32%); 
  }
  canvas { 
    position: absolute;
    z-index: -1;
  }